* {
	-webkit-overflow-scrolling: touch;
}

.nowrap {
	white-space: nowrap !important;
}

.CodeMirror {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	background-color: #f9f9f7;
	font-size: 15px;
	padding-top: 30px;
}

.CodeMirror-scroll {
	padding: 10px;
	box-sizing: border-box;
	overflow-x: hidden !important;
}

.icon {
	margin-top: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 20px;
	margin-bottom: 5px
}

.noclick {
	pointer-events: none
}

#stat {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: right;
	display: none;
	z-index: 99999;
}

.styled-background {
	background-color: #ff7 !important;
}

body {
	background-color: #f9f9f7
}

.wrap {
	-ms-word-break: break-all;
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

#toolbar {
	height: 30px;
	position: absolute;
	left: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	overflow-y: hidden;
	z-index: 99;
	white-space: nowrap;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	overflow-x: hidden
}

#docs {
	position: absolute;
	top: 0;
	left: 0%;
	bottom: 0;
	width: 200px;
	height: auto;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

#in {
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	width: 50%;
	height: auto;
	overflow-y: hidden;
	display: none;
}

#out {
	position: absolute;
	top: 0;
	right: 0;
	left: calc(50% + 200px);
	bottom: 0;
	overflow: auto;
	padding: 10px;
	width: 50%;
	padding-left: 20px;
	font-size: 16px;
	line-height: 1.5em;
	visibility: hidden;
	scrollbar-color: #bcd transparent;
	scrollbar-width: thin
}

#toc {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: auto;
	overflow: auto;
	padding: 10px;
	width: 200px;
	padding: 10px
}

#toc h1,
h2,
h3,
h4,
h5,
h6 {
	cursor: pointer;
}

#toc h1 {
	margin: 1rem 0;
	font-size: 15px;
}

#toc h2 {
	margin: .7rem 0;
	margin-left: 30px;
	font-size: 14px;
}

#toc h3 {
	margin: .6rem 0;
	margin-left: 45px;
	font-size: 13px;
}

#toc h4 {
	margin: .5rem 0;
	margin-left: 60px;
	font-size: 12px;
}

#toc h5 {
	margin: .4rem 0;
	margin-left: 75px;
	font-size: 11px;
}

#toc h6 {
	margin: 0.3rem 0;
	margin-left: 90px;
	font-size: 10px;
}

#in .CodeMirror-code {
	height: auto;
	margin-bottom: 301px;
}

#helpModal td {
	white-space: nowrap !important;
}

#out img {
	max-height: 200px;
}

@media (min-width:768px) {
	 ::-webkit-scrollbar {
		width: 6px;
	}
	 ::-webkit-scrollbar-track {
		box-shadow: none;
		border-radius: 3px;
	}
	 ::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #bcd;
	}
}

@media (max-width: 768px) {
	.mobile-hide {
		display: none;
	}
	#in {
		left: 100%;
		width: 100%;
		display: block;
		visibility: visible
	}
	#out {
		width: 100%;
		left: 200%;
		visibility: visible;
		overflow-y: auto;
	}
	#toolbar {
		height: 45px;
		width: 100%
	}
	.icon {
		font-size: 30px
	}
	.CodeMirror-scroll {
		margin-top: 10px
	}
	.CodeMirror {
		font-size: 1.5rem;
		padding-top: 40px;
	}
	#stat {
		width: 100%
	}
	#fullscreen-icon {
		display: none
	}
	#toc-icon {
		display: none
	}
	#toc h1 {
		margin: 1rem 0;
		font-size: 1.3rem;
	}
	#toc h2 {
		margin: .7rem 0;
		margin-left: 40px;
		font-size: 1.2rem;
	}
	#toc h3 {
		margin: .6rem 0;
		margin-left: 60px;
		font-size: 1.1em;
	}
	#toc h4 {
		margin: .5rem 0;
		margin-left: 80px;
		font-size: 1em;
	}
	#toc h5 {
		margin: .4rem 0;
		margin-left: 100px;
		font-size: 0.9em;
	}
	#toc h6 {
		margin: 0.3rem 0;
		margin-left: 120px;
		font-size: 0.8em;
	}
	#toc {
		display: block;
		width: 100%;
		overflow-y: auto;
	}
	#innerBar {
		white-space: nowrap;
		max-width: 100% !important;
		overflow-x: auto;
		line-height: 60px;
		height: 60px;
	}
}

#innerBar {
	z-index: 99;
	padding-left: 10px;
	padding-right: 10px, visibility:hidden;
	position: absolute;
}